<div class="lists-div">

  <div class="inner-div">
    <p>Ciasta :</p>
    <ul class="list-of-doughs">
      {{#each doughs}}
      <li class="{{this.name}}-dough">{{this.name}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="inner-div">
    <p>Dodatki :</p>
    <ul class="list-of-toppings">
      {{#each toppings}}
      <li class="{{this.name}}-topping">{{this.name}}</li>
      {{/each}}
    </ul>
  </div>

</div>

<table class="summary-table">
  <tr>
    <th>Wybrane Składniki:</th>
    <th>Cena całości:</th>
  </tr>
  <tr>
    <td class="ingriedients-td"></td>
    <td class="price-td"></td>
  </tr>
</table>
<div class="order-button-div">
  <button class="order-button" type="button" disabled>Zamów</button>
</div>
<script>
  const recipe = JSON.parse('{{{ recipe }}}');
</script>
<script src="../javascripts/generator.js"></script>